---
layout: base
---


<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-1 vcenter idxHdr">
      <div style='font-size: 2em; color: #d84949; font-weight: bold; padding-bottom: 0.3em;'>Qian Ge</div>
      <div style='font-size: 1.2em;'>
        Ph.D. Candidate
      </div>
      <div style='font-size: 1.2em'>
        <a href="http://www.ece.ncsu.edu">Electrical and Computer Engineering</a>
      </div>
      <div style='font-size: 1.2em'>
        <a href="http://www.ncsu.edu">North Carolina State University</a>
      </div>
      <br/>

      <div style="padding: 0.3em; background-color: #d84949; display: inline-block; border-radius: 4px; font-size: 1.2em;">
        <a href="data/qian-ge-cv.pdf" target='_blank' style='text-decoration: none;'>
          <i style='color: white' class="fa fa-download"></i>
        </a>
        <a href="http://conan7882.github.io/data/qian-ge-cv.pdf" target='_blank' style='text-decoration: none;'>
          <i style='color: white' class="fa fa-code-fork"></i>
        </a>
        <a href="data/cv.pdf" target='_blank' style='color: white; text-decoration: none;'>CV</a>
      </div>

      <ul class="list-inline idxIcons" style='font-size: 1.9em; margin-top: 0.5em;'>
        <li>
          <a href="http://github.com/conan7882" target="_blank">
            <i class="fa fa-fw fa-github"></i></a>
        </li>
        <li>
          <a href="https://www.linkedin.com/in/qian-ge-511aa357/" target="_blank">
            <i class="fa fa-fw fa-linkedin"></i></a>
        </li>
        <li>
          <a href="/atom.xml" target="_blank">
            <i class="fa fa-fw fa-rss"></i></a>
        </li>
      </ul>
    </div>
  </div>

  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      {{ content }}
    </div>
  </div>
</div>
